https://kr.investing.com/currencies/xau-usd-historical-data  금  
https://kr.investing.com/commodities/copper-historical-data 구리  
https://kr.investing.com/commodities/us-corn-historical-data 옥수수

In [53]:
import pandas as pd

df_corn = pd.read_csv('bitcoin_resource_data/corn_usd_daily_data.csv')
df_corn

                날짜      종가      시가      고가      저가    거래량    변동 %
0     2024- 03- 15  435.40  434.12  435.62  434.00    NaN   0.38%
1     2024- 03- 14  433.75  441.00  442.25  433.00    NaN   1.70%
2     2024- 03- 13  426.50  430.00  432.50  430.00  0.08K  -0.58%
3     2024- 03- 12  429.00  425.00  435.00  424.75  0.53K   0.18%
4     2024- 03- 11  428.25  421.75  428.50  419.75  0.62K   0.47%
...            ...     ...     ...     ...     ...    ...     ...
1665  2017- 09- 08  344.25  342.25  345.50  342.25  0.78K   0.73%
1666  2017- 09- 07  341.75  346.75  346.75  341.75  1.75K  -1.51%
1667  2017- 09- 06  347.00  343.75  347.25  342.00  2.89K   0.80%
1668  2017- 09- 05  344.25  343.25  345.75  341.25  4.61K   1.25%
1669  2017- 09- 01  340.00  341.50  345.50  338.00  7.81K  -0.66%

[1670 rows x 7 columns]

In [54]:
df_corn.isnull().sum()

날짜       0
종가       0
시가       0
고가       0
저가       0
거래량     29
변동 %     0
dtype: int64

In [55]:
df_corn['거래량'] = df_corn['거래량'].apply(lambda x: float(x[:-1])*1000 if pd.notnull(x) else 0)
df_corn['거래량'] = df_corn['거래량'].apply(lambda x: round(x, 2))
df_corn['변동 %'] = df_corn['변동 %'].apply(lambda x: float(x[:-1]))
df_corn['날짜'] = pd.to_datetime(df_corn['날짜'])

In [56]:
df_corn

             날짜      종가      시가      고가      저가     거래량  변동 %
0    2024-03-15  435.40  434.12  435.62  434.00     0.0  0.38
1    2024-03-14  433.75  441.00  442.25  433.00     0.0  1.70
2    2024-03-13  426.50  430.00  432.50  430.00    80.0 -0.58
3    2024-03-12  429.00  425.00  435.00  424.75   530.0  0.18
4    2024-03-11  428.25  421.75  428.50  419.75   620.0  0.47
...         ...     ...     ...     ...     ...     ...   ...
1665 2017-09-08  344.25  342.25  345.50  342.25   780.0  0.73
1666 2017-09-07  341.75  346.75  346.75  341.75  1750.0 -1.51
1667 2017-09-06  347.00  343.75  347.25  342.00  2890.0  0.80
1668 2017-09-05  344.25  343.25  345.75  341.25  4610.0  1.25
1669 2017-09-01  340.00  341.50  345.50  338.00  7810.0 -0.66

[1670 rows x 7 columns]

In [57]:
df_corn.dtypes

날짜      datetime64[ns]
종가             float64
시가             float64
고가             float64
저가             float64
거래량            float64
변동 %           float64
dtype: object

In [58]:
import pandas as pd

df_gold = pd.read_csv('bitcoin_resource_data/gold_usd_daily_data.csv')
df_gold

                날짜        종가        시가        고가        저가  거래량    변동 %
0     2024- 03- 14  2,161.01  2,174.29  2,177.10  2,152.86  NaN  -0.62%
1     2024- 03- 13  2,174.40  2,158.25  2,179.91  2,155.54  NaN   0.76%
2     2024- 03- 12  2,157.99  2,183.00  2,184.86  2,150.59  NaN  -1.12%
3     2024- 03- 11  2,182.47  2,177.71  2,189.04  2,174.80  NaN   0.23%
4     2024- 03- 08  2,177.51  2,159.40  2,195.20  2,154.08  NaN   0.85%
...            ...       ...       ...       ...       ...  ...     ...
1696  2017- 09- 07  1,349.20  1,334.27  1,350.27  1,332.60  NaN   1.13%
1697  2017- 09- 06  1,334.14  1,339.55  1,342.84  1,331.66  NaN  -0.39%
1698  2017- 09- 05  1,339.33  1,335.07  1,345.18  1,327.96  NaN   0.35%
1699  2017- 09- 04  1,334.67  1,334.38  1,339.85  1,331.92  NaN   0.73%
1700  2017- 09- 01  1,324.97  1,321.80  1,329.20  1,316.65  NaN   0.22%

[1701 rows x 7 columns]

In [59]:
df_gold.isnull().sum()

날짜         0
종가         0
시가         0
고가         0
저가         0
거래량     1701
변동 %       0
dtype: int64

In [60]:
df_gold['거래량'].unique()

array([nan])

In [61]:
df_gold['거래량'] = df_gold['거래량'].apply(lambda x: 0)
df_gold['거래량'] = df_gold['거래량'].apply(lambda x: round(x, 2))
df_gold['변동 %'] = df_gold['변동 %'].apply(lambda x: float(x[:-1]))
df_gold['날짜'] = pd.to_datetime(df_gold['날짜'])

In [ ]:
df_gold.astype({'종가':'float64', '시가':'float64', '고가':'float64', '저가':'float64'})

In [72]:
for name in ['종가', '시가','고가','저가']:
    df_gold[name] = df_gold[name].str.replace(',','').astype('float64')

In [73]:
df_gold

             날짜       종가       시가       고가       저가  거래량  변동 %
0    2024-03-14  2161.01  2174.29  2177.10  2152.86    0 -0.62
1    2024-03-13  2174.40  2158.25  2179.91  2155.54    0  0.76
2    2024-03-12  2157.99  2183.00  2184.86  2150.59    0 -1.12
3    2024-03-11  2182.47  2177.71  2189.04  2174.80    0  0.23
4    2024-03-08  2177.51  2159.40  2195.20  2154.08    0  0.85
...         ...      ...      ...      ...      ...  ...   ...
1696 2017-09-07  1349.20  1334.27  1350.27  1332.60    0  1.13
1697 2017-09-06  1334.14  1339.55  1342.84  1331.66    0 -0.39
1698 2017-09-05  1339.33  1335.07  1345.18  1327.96    0  0.35
1699 2017-09-04  1334.67  1334.38  1339.85  1331.92    0  0.73
1700 2017-09-01  1324.97  1321.80  1329.20  1316.65    0  0.22

[1701 rows x 7 columns]

In [74]:
df_gold.dtypes

날짜      datetime64[ns]
종가             float64
시가             float64
고가             float64
저가             float64
거래량              int64
변동 %           float64
dtype: object

In [75]:
import pandas as pd

df_copper = pd.read_csv('bitcoin_resource_data/copper_usd_daily_data.csv')
df_copper

                날짜      종가      시가      고가      저가      거래량    변동 %
0     2024- 03- 14  4.0455  4.0600  4.0810  4.0175      NaN  -0.36%
1     2024- 03- 13  4.0600  3.9375  4.0690  3.9190  161.60K   3.26%
2     2024- 03- 12  3.9320  3.9315  3.9520  3.9020   81.02K   0.09%
3     2024- 03- 11  3.9285  3.8935  3.9320  3.8785   59.15K   0.95%
4     2024- 03- 08  3.8915  3.9255  3.9465  3.8815   84.13K  -0.88%
...            ...     ...     ...     ...     ...      ...     ...
1712  2017- 09- 08  3.0360  3.1140  3.1140  3.0300    0.30K  -3.27%
1713  2017- 09- 07  3.1385  3.1490  3.1490  3.1150    0.58K  -0.25%
1714  2017- 09- 06  3.1465  3.1300  3.1535  3.1250    0.07K   0.75%
1715  2017- 09- 05  3.1230  3.1370  3.1615  3.1185    0.07K   0.31%
1716  2017- 09- 01  3.1135  3.1005  3.1160  3.1005    0.18K   0.63%

[1717 rows x 7 columns]

In [81]:
df_copper['거래량'] = df_copper['거래량'].apply(lambda x: float(x[:-1])*1000 if pd.notnull(x) else 0)
df_copper['거래량'] = df_copper['거래량'].apply(lambda x: round(x, 2))
df_copper['변동 %'] = df_copper['변동 %'].apply(lambda x: float(x[:-1]))
df_copper['날짜'] = pd.to_datetime(df_copper['날짜'])

In [82]:
df_copper

             날짜      종가      시가      고가      저가       거래량  변동 %
0    2024-03-14  4.0455  4.0600  4.0810  4.0175       0.0 -0.36
1    2024-03-13  4.0600  3.9375  4.0690  3.9190  161600.0  3.26
2    2024-03-12  3.9320  3.9315  3.9520  3.9020   81020.0  0.09
3    2024-03-11  3.9285  3.8935  3.9320  3.8785   59150.0  0.95
4    2024-03-08  3.8915  3.9255  3.9465  3.8815   84130.0 -0.88
...         ...     ...     ...     ...     ...       ...   ...
1712 2017-09-08  3.0360  3.1140  3.1140  3.0300     300.0 -3.27
1713 2017-09-07  3.1385  3.1490  3.1490  3.1150     580.0 -0.25
1714 2017-09-06  3.1465  3.1300  3.1535  3.1250      70.0  0.75
1715 2017-09-05  3.1230  3.1370  3.1615  3.1185      70.0  0.31
1716 2017-09-01  3.1135  3.1005  3.1160  3.1005     180.0  0.63

[1717 rows x 7 columns]

In [83]:
df_copper.dtypes

날짜      datetime64[ns]
종가             float64
시가             float64
고가             float64
저가             float64
거래량            float64
변동 %           float64
dtype: object

In [86]:
df_gold.to_csv('gold_usd_daily_data_preprocess.csv',encoding='cp949')
df_corn.to_csv('corn_usd_daily_data_preprocess.csv',encoding='cp949')
df_copper.to_csv('copper_usd_daily_data_preprocess.csv',encoding='cp949')